html {
  scroll-behavior: smooth;
}

.main-bg {
  background-image: url("../src/assets/images/Main\ BG.png") ;
}

.main-bg-snow {
  background-image: url('../src/assets/images/Main\ BG\ Snow.png'); /* Replace with the correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Custom underline hover and active effect */
.underline-active {
  position: relative;
  display: block; /* Ensure it works well in flexbox */
  transition: all 0.3s ease-in-out; /* Smooth transition for hover */
}

.underline-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px; /* Space between text and underline */
  height: 4px; /* Thickness of the underline */
  background-color: #E89332; /* The regal purple color */
  transform: scaleX(0); /* Start with no underline */
  transform-origin: left; /* Make it expand from the left */
  transition: transform 1s ease; /* Smooth transition for hover */
}

.underline-active:hover::after {
  transform: scaleX(1); /* Expands the underline on hover */
}

.underline-active[aria-current="page"]::after {
  transform: scaleX(1); /* Underline fully expanded for active link */
  transition: none; /* No animation, static underline for active link */
}

@media screen and (max-width: 639px) {
  .underline-active[aria-current="page"]::after {
    transform: scaleX(0.5); /* Underline fully expanded for active link */
    transition: none; /* No animation, static underline for active link */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-animate {
  animation: fadeIn 1.5s ease-out;
}

@keyframes floatButton {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-button {
  animation: floatButton 3s ease-in-out infinite;
}

/* Balls container */
.ball-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Behind the hero content */
}

/* Ball styles */
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  transform: scale(0); /* Balls start at a scale of 0 for pop-out effect */
  transition: transform 1s ease-in-out;
}
