html {
  scroll-behavior: smooth;
}



/* Custom underline hover and active effect */
.underline-active {
  position: relative;
  display: inline-block; /* Ensure it works well in flexbox */
  transition: all 0.3s ease-in-out; /* Smooth transition for hover */
}

.underline-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px; /* Space between text and underline */
  height: 4px; /* Thickness of the underline */
  background-color: #6b21a8; /* The regal purple color */
  transform: scaleX(0); /* Start with no underline */
  transform-origin: left; /* Make it expand from the left */
  transition: transform 1s ease; /* Smooth transition for hover */
}

.underline-active:hover::after {
  transform: scaleX(1); /* Expands the underline on hover */
}

.underline-active[aria-current="page"]::after {
  transform: scaleX(1); /* Underline fully expanded for active link */
  transition: none; /* No animation, static underline for active link */
}
